@model labtask1.Models.student
@{
    ViewBag.Title = "create";
}

<h2>create</h2>
<div>
    <form action="/student/create" method="post">
        <input type="text" name="NAME" class="form-control" placeholder="name" />
        <input type="text" name="ID" class="form-control" placeholder="id" />
        <input type="text" name="CGPA" class="form-control" placeholder="cgpa" />
      
        <input type="submit"class="btn btn-block"value="add"/>



    </form>



</div>

