@model labtask1.Models.student
@{
    ViewBag.Title = "create";
}

<h2>create</h2>
<div>
    <form action="/student/create" method="post">
        <input type="text" name="NAME" class="form-control" placeholder="name" />
        @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
       
        <input type="text" name="CGPA" class="form-control" placeholder="cgpa" />
        @Html.ValidationMessageFor(model => model.CGPA, "", new { @class = "text-danger" })

        <input type="submit" class="btn btn-block" value="add" />



    </form>



</div>

