
@{
    ViewBag.Title = "delete";
}
@model labtask1.Models.student

<h2>delete</h2>
<div>
    <form action="" method="post">
        <input type="text" name="NAME" value="@Model.NAME" class="form-control" placeholder="name" />
        <input type="text" name="ID" value="@Model.ID" class="form-control" placeholder="id" />
        <input type="text" name="CGPA" value="@Model.CGPA" class="form-control" placeholder="cgpa" />

        <input type="submit" class="btn btn-block" value="delete" />



    </form>



</div>

